/* ---- Estilos de la cartelera ---- */

.recuadro{
    background: #14213D;
    background-color: #14213D;
    background-image: url(../images/fondoCuadro.png);
    border:black 1.9px solid;
}
.card-pelis{
    background-color: black;
    color: white;
}
.zoom{
    border-radius: 0px;
}
.logocabecera{
    width: 40px;
    height: 30px;
    filter: invert(100%);
}

.box-shadow{
    border:black 1px solid;

}
.box-shadow:hover{
    -webkit-box-shadow: 0px 0px 13px 6px #feffc2;
    -moz-box-shadow: 0px 0px 13px 6px #feffc2;
    box-shadow: 0px 0px 13px 6px #feffc2;
    transition-duration: 0.2s;
}

.box-shadow:hover .zoom {
    filter: saturate(180%);
    transition-duration: 0.3s;
}
 
.transition {
    -webkit-transform: scale(1.8); 
    -moz-transform: scale(1.8);
    -o-transform: scale(1.8);
    transform: scale(1.8);
}

.card-pelis:hover{
    background-color: white;
    color: black;
}


/* --- Estilos del slider ---- */

.textCarro {
    color: black;
    opacity: 1; 
    user-select: none; 
}

.textCarro1{
    color: black;
    opacity: 1; 
    user-select: none; 
    font-family: 'Staatliches', cursive;
}

.opa{
    background-color: whitesmoke;
    opacity: 0.8; 
    border-radius: 3px;
    border:#14213D 2px solid;
}

.imgCarro{
    border:#14213D 2px solid;
    object-fit: cover;
}

.rowCont{
    background-color: whitesmoke;
}
.slider{
    display: none;
}


/* ---- Estilos generales ---- */

body{
    font-family: 'Quicksand', sans-serif;
}

.backConf{
    background: url("../images/fondo.jpg");
}
.intConf{
    background-color: white;
}

.cartelera{
    background: url("../images/fondo.jpg");
}
.img{
    width: 370px;
    border-radius: 3px;
}
iframe{
    width: 550px;
}
.cont-compra{
    background-color: honeydew;
}
.map{
    width: 300px;
    height: 300px;
}


.card{
    border:black 0.5px solid;

}


/* ---- Estilos pantalla de compra ----- */
.reloj{
    width:20px ;
    padding-bottom: 3px;
}

/* ---- Estilos de la sección del administrador ---- */

.admin{
    /**background: url("../images/fondoAdmin.png");*/
    background: black;
}
.cont1{
    background-color: gray;
    border-radius:3px;
}

/* ---- Estilos del buscador del admin ---- */

.sec-busca{
    background-color: beige;
    border-radius: 10px;
}

.img{
    border-radius:2px;
}
.cont-busca{
    background-color: beige;
}

/* ---- Estilos contactos ---- */

.phone{
    width: 25px;
}

.mail{
    width: 27px;
    padding-bottom: 2px;
}
.formu{
    width: 35px;
}
.icoReg{
    width: 35px;
    padding-bottom: 3px;
}
.rowCont{
    border-radius: 2px;
}
.contF{
    
    border:#14213D 1px solid;
}
/* ---- Estilos ubicación ---- */

.bus{
    width: 27px;
}

/* ---- Estilos tarifas ---- */

.tar{
    
    border:#14213D 1px solid;
}
.contTar{
    margin-bottom: 580px;
}

.container{
    border-radius: 2px;
}

/* ---- Estilos del nav superior ---- */

.navbar{
    user-select: none; 
}

button:focus {
    outline: 0;
}

.navbar .dropdown-menu .form-control {
    width: 200px;
}
.header2 {
	position: fixed;
	height:100px;
}
 
.header2 .logo {
	line-height:100px;
	font-size:30px;
}
 
.header2 nav {
	line-height:100px;
}
#menu {
    background-color: rgb(0, 0, 0); 
    position: fixed; 
    top: 0; 
    width: 100%;
    transition: top 0.3s; 
    font-family: 'Hind Siliguri', sans-serif;
}     
.goPerfil:link {
    color:white;
}

.goPerfil:visited {
    color:white;
}

.titulo{
    font-family: 'Righteous', cursive;
}

/* ---- Estilos del footer ---- */

footer{
    background-color: rgb(27, 27, 27);
    color: white;
}

.footcent{
    background: rgb(77, 77, 77); 
}

.gitLogo{
    width: 20px;
    height: 20px;
}
.ttLogo{
    width: 22px;
    height: 19px;
}

#linkies {
    padding: 2px 1px 0;
}
  
#linkies:link {
    color: #7bca3b;
}
  
#linkies:visited {
    color: rgb(190, 211, 174);
}

/* ----------   Buscador admin   --------------- */

.sec-busca{
    background-color: #FCA311;
}

.img-busca{
    border-radius:1%;
}
.cont-busca{
    background-color: #FCA311;
}

.admin{
    background-color: #FCA311;
}

.caja1{
    background-color: aliceblue;
}

.footer-busca{
    background-color: rgb(27, 27, 27);
    color: white;
}

.footcent{
    background: rgb(77, 77, 77); 
}

.gitLogo{
    width: 20px;
    height: 20px;
}
.ttLogo{
    width: 22px;
    height: 19px;
}

#linkies {
    padding: 2px 1px 0;
}
  
#linkies:link {
    color: #7bca3b;
}

#linkies:visited {
    color: rgb(190, 211, 174);
}

.logocabecera{
    width: 40px;
    height: 30px;

    filter: invert(100%);
}



/* ----------   Media query  ------------------- */


@media only screen and (min-width: 600px) {
    .img{
        width: 690px;
    }
}
@media only screen and (min-width: 768px) {

}
@media only screen and (min-width: 992px) {
    .img{width: 348px;
        height: 480px;
    }
    
    .recuadro{
        background-color: rgb(177, 177, 177);
        border-radius:6px ;
    }  
    
    .map{
        width: 650px;
        height: 600px;
    }
    .slider{
        display: block;
    }
}