
.cartelera{
    background: url("../images/fondo.jpg");
}

.admin{
    background: url("../images/fondoAdmin.png");

}
.cont1{
    background-color: gray;
    border-radius: 5px;
}
img{
    width: 370px;
    border-radius: 5px;
}

.cartel:hover{
    -webkit-box-shadow: 0px 0px 13px 6px rgba(41,36,41,1);
    -moz-box-shadow: 0px 0px 13px 6px rgba(41,36,41,1);
    box-shadow: 0px 0px 13px 6px rgba(41,36,41,1);
}

img:hover .card-title{
    color: blue;
}

iframe{
    width: 550px;

}
/*Estilos del nav superior*/
button:focus {
    outline: 0;
}

.navbar .dropdown-menu .form-control {
    width: 200px;
}

.cont-compra{
    background-color: honeydew;
}

.map{
    width: 300px;
    height: 300px;
}

.header2 {
	position: fixed;
	height:100px;
}
 
.header2 .logo {
	line-height:100px;
	font-size:30px;
}
 
.header2 nav {
	line-height:100px;
}

footer{
    background-color: rgb(27, 27, 27);
    color: white;
}

.footcent{
    background: rgb(77, 77, 77); 
}

.gitLogo{
    width: 20px;
    height: 20px;
}
.ttLogo{
    width: 22px;
    height: 19px;
}

#linkies {
padding: 2px 1px 0;
}
  
  #linkies:link {
    color: #7bca3b;
  }
  
  #linkies:visited {
    color: rgb(190, 211, 174);
  }

  #menu {
    background-color: #333; 
    position: fixed; 
    top: 0; 
    width: 100%;
    transition: top 0.3s; 
}

/* ----------   Media query  ------------------- */


@media only screen and (min-width: 600px) {
    img{
        width: 690px;
    }

}


@media only screen and (min-width: 768px) {

}


@media only screen and (min-width: 992px) {
    img{width: 348px;
        height: 480px;
    }

    
    .map{
        width: 650px;
        height: 600px;
    }
}