

.cont1{
    background-color: gray;
    border-radius: 5px;
}
/*
.cartel{
    background-color: rgb(223, 223, 223);
}
*/
img{
    width: 600px;
    border-radius: 5px;
}

.cartel:hover{
    -webkit-box-shadow: 0px 0px 13px 6px rgba(41,36,41,1);
    -moz-box-shadow: 0px 0px 13px 6px rgba(41,36,41,1);
    box-shadow: 0px 0px 13px 6px rgba(41,36,41,1);
}

img:hover .card-title{
    color: blue;
}

iframe{
    width: 550px;

}
/*Estilos del nav superior*/
button:focus {
    outline: 0;
}

.navbar .dropdown-menu .form-control {
    width: 200px;
}

.cont-compra{
    background-color: honeydew;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {


}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    img{
        width: 348px;
        height: 480px;

    }
}

.header2 {
	position: fixed;
	height:100px;
}
 
.header2 .logo {
	line-height:100px;
	font-size:30px;
}
 
.header2 nav {
	line-height:100px;
}

footer{
    background-color: rgb(52, 52, 131);
}

.gitLogo{
    width: 20px;
    height: 20px;
}
.ttLogo{
    width: 35px;
    height: 20px;
}